parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        - src/DependencyInjection/Configuration.php
    ignoreErrors:
        -
            identifier: missingType.generics
        -
            identifier: doctrine.columnType
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
